* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vh;
    overflow: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.main {
    height: 100vh;
    overflow-x: none;
    overflow-y: scroll;
    width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#brand-logo {
    width: 15vw;
    padding: 5px;
    margin: 10px 5px 30px 2px;
    max-width: 700px;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-left: 5px;

}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 0;
    
}

.sidebar-item>p {
    padding: 5px;
    margin-top: 5px;
    margin-left: 20px;
    
    font-size: 16px;
}

.fa-solid {
    font-size: 25px;
    padding: 5px;
    margin-left: 4px;
}

.profile-img {
    margin: 9px;
    margin-left: 8px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #888888;
    height: auto;
    width: 450px;

}

.main-img {
    width: 100%;
    height: auto;
    max-width: 450px;
}