*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;

}
#main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.back{
   font-size: 50px;
   background:#f1f3f6;
   padding: 10px;
   border: 2px solid transparent;
   border-radius: 30px;
   margin-top: 20%;
    margin-left: 20%;
}
#reset-button{
    border: none;
    outline: none;
    padding: 0px 40px;
    height:40px;
    color: #140303;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    border: transparent;
    font-weight: 800;

    

}
.todo-list{
    width:100%;
    max-width:540px;
    background: #fff;
    margin-left: 20%;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-list h2{
    color:#002765;
    display: flex;
    align-items: center;
    margin: 20px;

}
.todo-list h2 img{
    width: 30px;
    margin-left: 10px;

}
.row{
   display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
     border-radius: 30px;
     padding-left: 20px ;
     margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;


}
.add-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #575407;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius:50%;
    background-image:url('https://media.istockphoto.com/id/116772376/photo/notepad-to-do-list-get-things-done.webp?b=1&s=170667a&w=0&k=20&c=olKqBwtbJQA4tH_tC520qngYwyjcrpuHZ2eYq3EXgjk=') ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left:  8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image:url('https://as1.ftcdn.net/v2/jpg/02/88/81/44/1000_F_288814463_Ojwkl82OzIZT3fysLIMh4rzNnCHsOWnd.jpg');
    
}
ul li span{
    position:absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #456;
    line-height: 40px;
    text-align: center;
    border-radius:50%;
}
ul li span:hover{
    background-color: #e5dddd;

}