body {
    font-family: sans-serif;
  }
 
  #navbar {
    background-color: rgb(157, 9, 95,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
 
  #nav-list {
    display: flex;
    flex-direction: row;
  }
 
  li {
    list-style: none;
  }
 
  a {
    color: beige;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem
  }
 
  a:hover {
    background-color: black;
  }
 
  #welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: linear-gradient(62deg,
        #3a3d40 0%,
        #181719 100%)
  }
 
  h1 {
    color: antiquewhite;
    font-size: 6rem;
    font-weight: 700;
 
  }
 
  #welcome-section>p {
    color: rgb(157, 9, 95);
    font-size: 3rem;
    font-style: italic;
    font-weight: 100;
  }
 
  .projects {
    margin: 0;
    padding: 8rem 2rem;
    text-align: center;
    background-color: #45567d;
  }
 
   h2 {
    font-size: 3.2rem;
    color: white;
  }
  @media(max-width:88px){
    h2{
      font-size: 2rem;
    }
  }
 
  .project-img {
    height: calc(100%-6.8rem);
    width: 100%;
    object-fit: cover;
 
 
  }
  img{
    width: 45rem;
    height: 25rem;
    object-fit: contain;
    
  }
 
  .project-tile {
    color: aliceblue;
    background-color: #303841;
    padding: 1em;
    margin:0;
    
 
  }
 
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0;
    margin-bottom: 6rem;
  }
  #contact{
    background-color: #303841;
    width:100%;
    height: 88vh;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 #contact-p{
 
   color: white;
   font-style: italic;
   font-weight: 100;
   text-align: center;
   font-size: 1.7rem;
 
 } 

/* Responsive Adjustments */
@media(max-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 880px) {
    h2 {
        font-size: 2rem;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #nav-list {
        flex-direction: column;
    }

    a {
        padding: 0.5rem 1rem;
    }
}

@media(max-width: 600px) {
    #welcome-section>p {
        font-size: 2rem;
    }

    .projects {
        padding: 2rem 1rem; /* Reduced padding */
    }

    #contact-p {
        font-size: 1.5rem;
    }
}