body{
    font-family: Georgia, serif;
}
h1{
    font-size: 28px;
    color: rgb(61, 61, 133);
    font-weight: bold;
    text-align: center;
}
.article-container{
    background-color: rgb(218, 206, 190);
    text-align: justify;
    padding: 10px;
}
.article-meta{
color: gray;
font-size: 14px;
font-weight: normal;
font-style: italic;
text-decoration: none;
}
p{
    font-size: 18px;
    line-height: 1.6;
}