body{
    font-family: arial,sans-serif;

}
.product-card{
    border: 2px solid #333;
    background-color: aliceblue;
    padding: 20px;
    margin:20px auto;
    width:300px;
    height:auto;
    position: relative;
    top: 25%;
    
}
p{
    padding: 10px;
}
h2{
    font-size: 24px;
    font-weight: bold;
    

}
img{
    width: 300px;
}
span{
    font-size: 16px;
    line-height: 1.5;
    color: #ff0000;
}
 button{
    border-radius: 30px;
    padding: 2%;
    background-color: rgba(rgb(136, 54, 54), rgb(68, 114, 68), rgb(84, 84, 173), 0.2);
 }


